Source: qcom-sensors
Maintainer: Venkata Akhil Segu <vsegu@qti.qualcomm.com>
Uploaders:
 Agathe Porte <agathe.porte@oss.qualcomm.com>,
Standards-Version: 4.6.2
Section: non-free/misc
Build-Depends:
 debhelper-compat (= 13),
Build-Depends-Arch:
 libfastrpc1,
 libglib2.0-0t64,
 libqcci1,
 libqencdec1,
 libqmi-common1,
 libstdc++6,
 qcom-libdiag,
 qcom-sensing-hub,
Vcs-Browser: https://github.com/qualcomm-linux/pkg-qcom-sensors
Vcs-Git: https://github.com/qualcomm-linux/pkg-qcom-sensors.git

Package: qcom-sensors-api
Architecture: arm64
Multi-Arch: same
Section: non-free/libs
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: Qualcomm Sensors API (runtime libraries)
 Qualcomm Sensors is a collection of prebuilt core binaries required for
 sensor enablement and hardware sensor data access. These prebuilt binaries
 also include test applications to validate sensor services functionality
 through the Sensinghub Interface.
 .
 This package provides the API runtime libraries.

Package: qcom-sensors-core
Architecture: arm64
Multi-Arch: same
Section: non-free/libs
Depends:
 qcom-sensors-api (= ${binary:Version}),
 ${misc:Depends},
 ${shlibs:Depends},
Description: Qualcomm Sensors core (runtime libraries)
 Qualcomm Sensors is a collection of prebuilt core binaries required for
 sensor enablement and hardware sensor data access. These prebuilt binaries
 also include test applications to validate sensor services functionality
 through the Sensinghub Interface.
 .
 This package provides the core runtime libraries.

Package: qcom-sensors-registry
Architecture: all
Section: non-free/utils
Depends:
 ${misc:Depends},
Description: Qualcomm Sensors registry
 Qualcomm Sensors is a collection of prebuilt core binaries required for
 sensor enablement and hardware sensor data access. These prebuilt binaries
 also include test applications to validate sensor services functionality
 through the Sensinghub Interface.
 .
 This package provides the registry files.

Package: qcom-sensors-services
Architecture: arm64
Section: non-free/utils
Depends:
 qcom-sensors-registry,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Qualcomm Sensors service
 Qualcomm Sensors is a collection of prebuilt core binaries required for
 sensor enablement and hardware sensor data access. These prebuilt binaries
 also include test applications to validate sensor services functionality
 through the Sensinghub Interface.
 .
 This package provides the daemon service.

Package: qcom-sensors-test-core
Architecture: arm64
Multi-Arch: same
Section: non-free/utils
Depends:
 qcom-sensors-api,
 qcom-sensors-core,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Qualcomm Sensors test core (runtime libraries)
 Qualcomm Sensors is a collection of prebuilt core binaries required for
 sensor enablement and hardware sensor data access. These prebuilt binaries
 also include test applications to validate sensor services functionality
 through the Sensinghub Interface.
 .
 This package provides the test core runtime libraries.

Package: qcom-sensors-test-apps
Architecture: arm64
Section: non-free/utils
Depends:
 qcom-sensors-api,
 qcom-sensors-core,
 qcom-sensors-test-core,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Qualcomm Sensors test applications
 Qualcomm Sensors is a collection of prebuilt core binaries required for
 sensor enablement and hardware sensor data access. These prebuilt binaries
 also include test applications to validate sensor services functionality
 through the Sensinghub Interface.
 .
 This package provides the test applications.

Package: qcom-sensors-api-dev
Architecture: arm64
Multi-Arch: same
Section: non-free/libdevel
Depends:
 libfastrpc-dev,
 qcom-sensing-hub-dev,
 qcom-sensors-api (= ${binary:Version}),
 ${misc:Depends},
Description: Qualcomm Sensors API (development files)
 Qualcomm Sensors is a collection of prebuilt core binaries required for
 sensor enablement and hardware sensor data access. These prebuilt binaries
 also include test applications to validate sensor services functionality
 through the Sensinghub Interface.
 .
 This package provides files necessary to develop programs using the API
 libraries.

Package: qcom-sensors-core-dev
Architecture: arm64
Multi-Arch: same
Section: non-free/libdevel
Depends:
 libqmi-framework-dev,
 qcom-sensing-hub-dev,
 qcom-sensors-api-dev (= ${binary:Version}),
 qcom-sensors-core (= ${binary:Version}),
 ${misc:Depends},
Description: Qualcomm Sensors core (development files)
 Qualcomm Sensors is a collection of prebuilt core binaries required for
 sensor enablement and hardware sensor data access. These prebuilt binaries
 also include test applications to validate sensor services functionality
 through the Sensinghub Interface.
 .
 This package provides files necessary to develop programs using the core
 libraries.

Package: qcom-sensors-test-core-dev
Architecture: arm64
Multi-Arch: same
Section: non-free/libdevel
Depends:
 qcom-sensing-hub-dev,
 qcom-sensors-api-dev (= ${binary:Version}),
 qcom-sensors-core-dev (= ${binary:Version}),
 qcom-sensors-test-core (= ${binary:Version}),
 ${misc:Depends},
Description: Qualcomm Sensors test core (development files)
 Qualcomm Sensors is a collection of prebuilt core binaries required for
 sensor enablement and hardware sensor data access. These prebuilt binaries
 also include test applications to validate sensor services functionality
 through the Sensinghub Interface.
 .
 This package provides files necessary to develop programs using the test core
 libraries.
