Source: qcom-sensors-prebuilts
Maintainer: Venkata Akhil Segu <vsegu@qti.qualcomm.com>
Standards-Version: 4.6.2
Section: misc
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13)

Package: qcom-sensors-api
Architecture: arm64
Description: Qualcomm Sensors API library
 API library for the Qualcomm Sensors framework.
Section: libs
Priority: optional
Depends: ${misc:Depends}, libc6 (>= 2.17)

Package: qcom-sensors-core
Architecture: arm64
Description: Qualcomm Sensors core library
 Core library for the Qualcomm Sensors framework.
Section: libs
Priority: optional
Depends: ${misc:Depends}, libc6 (>= 2.17)

Package: qcom-sensors-registry
Architecture: arm64
Description: Qualcomm Sensors registry
 Registry service for the Qualcomm Sensors framework.
Section: utils
Priority: optional
Depends: ${misc:Depends}, libc6 (>= 2.17)

Package: qcom-sensors-services
Architecture: arm64
Description: Qualcomm Sensors services daemon
 Services daemon for the Qualcomm Sensors framework.
Section: utils
Priority: optional
Depends: ${misc:Depends}, libc6 (>= 2.17)

Package: qcom-sensors-test-core
Architecture: arm64
Description: Qualcomm Sensors test core
 Test core library for the Qualcomm Sensors framework.
Section: utils
Priority: optional
Depends: ${misc:Depends}, libc6 (>= 2.17)

Package: qcom-sensors-test-apps
Architecture: arm64
Description: Qualcomm Sensors test applications
 Test applications for the Qualcomm Sensors framework.
Section: utils
Priority: optional
Depends: ${misc:Depends}, libc6 (>= 2.17)
