#!/usr/bin/make -f

export DH_VERBOSE=1

%:
    dh $@

override_dh_auto_configure:
    :

override_dh_auto_build:
    :

override_dh_auto_clean:
    :

# ✅ Nothing installed here (like fastrpc: no manual install logic)
override_dh_auto_install:
    :

# ✅ Let dh_install pull files directly from data/
override_dh_install:
    dh_install --sourcedir=data
