# Copyright (c) Qualcomm Technologies, Inc. and/or its subsidiaries.
# All rights reserved.
# Confidential and Proprietary - Qualcomm Technologies, Inc.

[Unit]
Description=sscrpcd Service
SourcePath=/usr/bin/sscrpcd

[Service]
Restart=always

ExecCondition=/bin/sh -c 'SOC=$(cat /sys/devices/soc0/soc_id); \
case "$SOC" in \
  "674"|"675"|"656"|"676"|"667") \
    echo "Service disabled for this platform"; exit 1 ;; \
  *) exit 0 ;; \
esac'

ExecStartPre=+/bin/mkdir -p /var/cache/sensors/registry/registry
ExecStartPre=+/bin/cp -n /etc/sensors/registry/sns_reg_version /var/cache/sensors/registry/
ExecStartPre=+/bin/chmod -R 644 /var/cache/sensors/registry/registry
ExecStart=/usr/bin/sscrpcd sensorspd

[Install]
WantedBy=multi-user.target
